/EmployeePortal/.vs/ProjectEvaluation/*.bin
/EmployeePortal/.vs/EmployeePortal/DesignTimeBuild/*.v2
/EmployeePortal/bin/Debug/net6.0
/EmployeePortal.Data/bin/Debug/net6.0
/EmployeePortal/.vs/EmployeePortal
